h1{
  text-align:center;
  font-family: american typewriter, sans-serif;
  font-size: 50px;
  color: navy;
}
.nyc_map{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: #91bfd8;
}

#Manhattan:hover{
   $("#Manhattan").maphilight();
}
#Bronx{

}
#Queens{

}
#Brooklyn{

}
#Staten_Island{

}
